In [1]:
import pandas as pd

In [2]:
#Load demo data

df_demo = pd.read_csv("database/df_final_demo.txt")
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [3]:
df_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [4]:
#Load experiment clients

df_clients = pd.read_csv("database/df_final_experiment_clients.txt")
df_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [5]:
df_clients.dtypes

client_id     int64
Variation    object
dtype: object

In [6]:
#Load web data pt1+pt2

df_web = pd.concat([
    pd.read_csv("database/df_final_web_data_pt_1.txt"),
    pd.read_csv("database/df_final_web_data_pt_2.txt")
], ignore_index=True)

df_web

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [7]:
df_web.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [8]:
# Merge web data with experiment clients

df_analysis = df_web.merge(df_clients, on="client_id", how="left")
df_analysis

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN

In [9]:
# Analyze distribution of Variation groups

df_analysis["Variation"].value_counts(dropna=False)

Variation
NaN        434096
Test       177847
Control    143462
Name: count, dtype: int64

In [10]:
#1st : Select only experiment clients

df_analysis = df_analysis[df_analysis["Variation"].notna()]

df_analysis["Variation"].value_counts(dropna=False)

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [11]:
#Merge with demo data

df_analysis = df_analysis.merge(df_demo, on="client_id", how="left")

df_analysis

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321304,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
321305,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321306,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321307,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321308,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [12]:
#check nulls in each column

df_analysis.isnull().sum()

client_id             0
visitor_id            0
visit_id              0
process_step          0
date_time             0
Variation             0
clnt_tenure_yr      102
clnt_tenure_mnth    102
clnt_age            114
gendr               102
num_accts           102
bal                 102
calls_6_mnth        102
logons_6_mnth       102
dtype: int64

In [13]:
#2nd: drop rows with nulls in 'age' column

df_analysis = df_analysis[df_analysis["clnt_age"].notna()]
df_analysis.isnull().sum()

client_id           0
visitor_id          0
visit_id            0
process_step        0
date_time           0
Variation           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [14]:
df_analysis.dtypes

client_id             int64
visitor_id           object
visit_id             object
process_step         object
date_time            object
Variation            object
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [15]:
#nunique values in each column

for col in df_analysis.columns:
    print(f"\n{col}")
    print(df_analysis[col].unique())

client_id
[9988021 8320017 4033851 ...  433098 1574008 2908510]

visitor_id
['580560515_7732621733' '39393514_33118319366' '762728880_76361333336' ...
 '5505424_50616523266' '117364417_77840596075' '814969699_90652851448']

visit_id
['781255054_21935453173_531117' '960651974_70596002104_312201'
 '949661017_22392791362_127391' ... '412278907_8949064401_171038'
 '528720790_71583064618_169151' '562606085_36368381773_92090']

process_step
['step_3' 'step_2' 'step_1' 'start' 'confirm']

date_time
['2017-04-17 15:27:07' '2017-04-17 15:26:51' '2017-04-17 15:19:22' ...
 '2017-05-10 22:56:31' '2017-05-10 22:56:23' '2017-05-10 22:56:20']

Variation
['Test' 'Control']

clnt_tenure_yr
[ 5. 22. 12.  6. 11. 21. 13. 15. 10. 29.  7. 16. 28. 20. 23. 17. 14.  4.
 24.  9. 30. 25. 26.  8. 33. 18. 19.  3. 34. 27. 32. 31. 50. 35. 37. 39.
  2. 38. 36. 55. 43. 40. 47. 48. 42. 46. 49. 51. 45. 41. 54. 44. 52.]

clnt_tenure_mnth
[ 64. 274. 149.  80.  70. 137. 254. 162.  79.  74. 186. 143. 125.  77.
  61. 351. 264.  87. 355. 193. 341.  94. 190. 184. 130. 139. 182. 246.
 279. 153. 214. 155. 178.  58. 124.  59. 289. 157.  73. 116.  76.  90.
 256.  68.  92.  69.  86. 360. 301.  71. 161. 151. 119. 175.  54.  88.
  78. 322.  66. 180.  99.  65. 396. 347. 185. 131. 189.  97.  75. 282.
 141. 253. 111. 183. 248. 306. 290. 181. 252. 164. 266. 145. 101.  72.
 267. 292. 167. 114.  56. 176.  67. 269. 106. 174.  96. 156. 202. 280.
 163. 250.  89. 362. 205.  93. 142. 195. 177. 118. 110. 113.  82. 108.
 339. 371. 226. 224.  57. 152. 312. 144. 303. 158. 179. 160. 197. 370.
 235. 132.  50. 169. 173.  91. 225.  46. 170. 126.  84. 120.  98. 166.
  63.  83.  55.  38. 408. 257.  81. 268. 115. 196. 154. 148. 233. 207.
  60. 165. 255. 109. 168. 191. 121. 123. 215. 251. 261. 188. 138. 107.
 194. 198. 208. 117. 402. 316. 272. 192. 327. 262. 223.  62. 200. 146.
 283. 315. 406. 103. 358. 216. 222. 277. 419. 238. 187. 237. 241. 150.
 199. 391. 372. 172. 308. 102. 245. 302. 203. 212. 305. 134. 334. 288.
 400. 236.  85. 100. 258. 297. 217. 260. 122.  36. 318.  45.  40. 221.
 291. 210. 159.  95. 278. 249. 105. 337.  39. 240. 263. 276. 345. 247.
 271. 284. 336. 299. 127. 128. 171. 317. 333. 133. 294. 228. 209. 213.
 324. 204. 300. 287. 394. 104.  37. 242. 136. 342. 243. 311. 343. 295.
 220. 129. 219. 275. 211. 218. 326. 140. 227. 286. 239. 354. 230. 368.
 602. 265. 112. 298.  43. 361. 229. 270. 397. 421. 201. 281. 445. 259.
 285. 321.  47.  48. 314.  52. 244. 135. 331. 340. 319. 147. 468. 418.
  44.  49. 392. 410.  35. 369. 407. 390. 323. 411. 365. 293. 206. 388.
  42. 344.  53. 451. 296. 350. 427. 420. 413. 310.  51. 463. 273. 335.
 444. 231. 234. 398.  34. 313. 309. 364. 376. 465. 328. 338. 330. 346.
 433.  41. 332. 329. 357. 401. 669. 232. 379. 430. 424. 325. 429. 307.
 359. 399. 367. 516. 461. 449.  33. 348. 378. 304. 423. 352. 349. 320.
 417. 373. 464. 356. 481. 415. 395. 569. 374. 484. 460. 363. 403. 380.
 382. 353. 576. 422. 384. 454. 439. 434. 404. 393. 389. 409. 386. 455.
 414. 416. 431. 442. 473. 377. 469. 387. 511. 381. 447. 375. 482. 426.
 459. 405. 561. 440. 385. 366. 526. 668. 596. 425. 554. 453. 571. 485.
 456. 612. 428. 472. 483. 563. 448. 383. 550. 479. 462. 492. 441. 475.
 507. 432. 585. 589. 443. 564. 613. 562. 655. 412. 450. 504. 512. 581.
 539. 532. 624. 446. 608. 593. 457.]

clnt_age
[79.  34.5 63.5 44.5 29.  27.  53.5 56.5 32.5 61.5 38.  66.5 36.5 65.5
 57.5 38.5 54.5 58.5 46.5 30.5 49.  42.5 48.5 33.  70.5 31.5 59.5 70.
 72.5 26.  45.  25.  72.  24.5 35.  58.  54.  32.  28.5 48.  25.5 19.5
 28.  49.5 33.5 75.  71.5 68.  50.5 50.  36.  18.5 73.  52.  39.  27.5
 62.5 22.5 53.  63.  64.5 65.  51.5 60.5 52.5 74.  40.5 21.5 31.  51.
 59.  23.5 57.  66.  29.5 78.5 43.5 20.5 62.  43.  47.5 37.5 67.5 26.5
 84.5 55.5 60.  73.5 41.5 71.  39.5 23.  56.  75.5 82.  64.  67.  42.
 37.  88.5 76.5 68.5 55.  21.  35.5 44.  34.  45.5 61.  77.  30.  47.
 87.  87.5 41.  40.  81.  46.  77.5 76.  20.  22.  24.  74.5 88.  69.
 85.5 81.5 79.5 83.  69.5 80.  85.  80.5 89.  19.  86.  18.  78.  17.5
 84.  86.5 91.  83.5 89.5 82.5 95.5 92.5 93.5 17.  94.  90.  90.5 96.
 93.  92.  94.5 91.5]

gendr
['U' 'M' 'F' 'X']

num_accts
[2. 3. 4. 5. 6. 7. 1.]

bal
[189023.86  36001.9  142642.26 ...  34419.62 153238.83 141808.05]

calls_6_mnth
[1. 5. 0. 6. 4. 2. 3.]

logons_6_mnth
[4. 8. 3. 9. 7. 6. 5.]

In [16]:
df_analysis[df_analysis["process_step"] == "confirm"] \
    .groupby("visit_id") \
    .size() \
    .sort_values(ascending=False)

visit_id
115772476_64303792531_611679    16
817562193_57472961580_383121    16
155305468_93296256914_310722    11
820090283_58581376462_851669    10
50537501_11478756856_509628      9
                                ..
416465283_59482249871_844673     1
416458625_8244365553_56895       1
416440961_16971860651_151786     1
416431827_84848576319_824758     1
999985675_64610694964_443659     1
Length: 37667, dtype: int64

In [17]:
# Asegurar formato datetime
df_analysis["date_time"] = pd.to_datetime(df_analysis["date_time"], errors="coerce")

mask_confirm = df_analysis["process_step"].eq("confirm")

/var/folders/mg/wjsd2dzj6zgdzk_gsdz19rdc0000gn/T/ipykernel_32728/4005745159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_analysis["date_time"] = pd.to_datetime(df_analysis["date_time"], errors="coerce")

In [18]:
df_analysis_original = df_analysis.copy()

In [19]:
# 1) visit_id con confirm duplicado
visits_with_dup_confirm = (
    df_analysis.loc[mask_confirm]
    .groupby("visit_id")
    .size()
    .loc[lambda s: s > 1]
    .index
)

In [20]:
# 2) confirm más antiguo por visit_id (solo para visitas con duplicados)
confirms_sorted = (
    df_analysis.loc[mask_confirm & df_analysis["visit_id"].isin(visits_with_dup_confirm)]
    .sort_values(["visit_id", "date_time"], kind="mergesort")
)

idx_keep_oldest_confirm = confirms_sorted.groupby("visit_id", sort=False).head(1).index

In [21]:
# 3rd : Drop re-confirm duplicados
df_analysis = (
    df_analysis[
        (~mask_confirm) |
        (mask_confirm & ~df_analysis["visit_id"].isin(visits_with_dup_confirm)) |
        (mask_confirm & df_analysis["visit_id"].isin(visits_with_dup_confirm) & df_analysis.index.isin(idx_keep_oldest_confirm))
    ]
    .sort_values(["visit_id", "date_time"], kind="mergesort")
    .reset_index(drop=True)
)

df_analysis

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0
1,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0
2,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0
3,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0
4,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315643,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:49:11,Test,18.0,227.0,58.0,F,2.0,1056775.54,6.0,9.0
315644,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:49:22,Test,18.0,227.0,58.0,F,2.0,1056775.54,6.0,9.0
315645,6627522,730634087_44272418812,999988789_76411676596_272843,step_2,2017-04-21 23:50:16,Test,18.0,227.0,58.0,F,2.0,1056775.54,6.0,9.0
315646,6627522,730634087_44272418812,999988789_76411676596_272843,step_1,2017-04-21 23:51:00,Test,18.0,227.0,58.0,F,2.0,1056775.54,6.0,9.0
315647,6627522,730634087_44272418812,999988789_76411676596_272843,start,2017-04-21 23:51:09,Test,18.0,227.0,58.0,F,2.0,1056775.54,6.0,9.0

In [22]:
#Check Removed confirms

removed_confirms = df_analysis_original.loc[
    mask_confirm &
    df_analysis_original["visit_id"].isin(visits_with_dup_confirm) &
    ~df_analysis_original.index.isin(idx_keep_oldest_confirm)
].sort_values(["visit_id", "date_time"], kind="mergesort")

removed_confirms

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
106862,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0
213590,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:49:16,Test,3.0,47.0,67.5,U,2.0,329512.81,3.0,6.0
213589,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:49:32,Test,3.0,47.0,67.5,U,2.0,329512.81,3.0,6.0
204183,2211630,854157384_79214001027,100751264_35071231525_844320,confirm,2017-03-29 11:39:44,Test,5.0,60.0,23.5,U,4.0,129516.76,6.0,9.0
204182,2211630,854157384_79214001027,100751264_35071231525_844320,confirm,2017-03-29 11:40:26,Test,5.0,60.0,23.5,U,4.0,129516.76,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59227,8432798,397079791_56213848572,999066804_34223271414_790731,confirm,2017-04-25 16:00:19,Test,15.0,181.0,51.5,M,3.0,1878607.69,4.0,7.0
206048,1427054,852434665_51860680026,999522487_18357180783_393962,confirm,2017-04-02 19:15:45,Test,4.0,56.0,32.5,U,2.0,45622.15,5.0,8.0
110664,426074,971489883_58289393614,999841812_92641758733_294220,confirm,2017-04-05 11:54:37,Test,5.0,65.0,57.5,U,3.0,57362.24,4.0,7.0
181092,9498187,599653496_46358190244,999954858_74676709104_879685,confirm,2017-04-05 11:15:41,Test,5.0,60.0,21.5,U,2.0,31295.49,6.0,9.0
73158,8971313,520929316_99288864740,999958344_67534252886_39917,confirm,2017-04-15 00:36:59,Test,7.0,95.0,25.5,U,2.0,46555.07,6.0,9.0

In [23]:
kept_confirms = df_analysis_original.loc[
    mask_confirm &
    df_analysis_original.index.isin(idx_keep_oldest_confirm)
].sort_values(["visit_id", "date_time"], kind="mergesort")

kept_confirms

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
106863,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0
213591,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:48:24,Test,3.0,47.0,67.5,U,2.0,329512.81,3.0,6.0
204184,2211630,854157384_79214001027,100751264_35071231525_844320,confirm,2017-03-29 11:39:22,Test,5.0,60.0,23.5,U,4.0,129516.76,6.0,9.0
182081,2060326,719485762_12608113429,100844233_60058998075_722846,confirm,2017-04-03 12:29:44,Test,7.0,85.0,31.5,U,2.0,51028.06,6.0,9.0
37226,7795550,370148491_10861944232,101351075_24045289214_506540,confirm,2017-04-18 20:37:20,Test,7.0,88.0,25.5,U,2.0,62271.86,6.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59228,8432798,397079791_56213848572,999066804_34223271414_790731,confirm,2017-04-25 15:59:17,Test,15.0,181.0,51.5,M,3.0,1878607.69,4.0,7.0
206049,1427054,852434665_51860680026,999522487_18357180783_393962,confirm,2017-04-02 19:14:33,Test,4.0,56.0,32.5,U,2.0,45622.15,5.0,8.0
110665,426074,971489883_58289393614,999841812_92641758733_294220,confirm,2017-04-05 11:53:35,Test,5.0,65.0,57.5,U,3.0,57362.24,4.0,7.0
181093,9498187,599653496_46358190244,999954858_74676709104_879685,confirm,2017-04-05 11:14:59,Test,5.0,60.0,21.5,U,2.0,31295.49,6.0,9.0
73159,8971313,520929316_99288864740,999958344_67534252886_39917,confirm,2017-04-15 00:35:54,Test,7.0,95.0,25.5,U,2.0,46555.07,6.0,9.0

In [24]:
check_summary = (
    removed_confirms
    .groupby("visit_id")
    .size()
    .reset_index(name="n_removed_confirms")
    .sort_values("n_removed_confirms", ascending=False)
)

check_summary.head(10)

                          visit_id  n_removed_confirms
2982  817562193_57472961580_383121                  15
62    115772476_64303792531_611679                  15
240   155305468_93296256914_310722                  10
2992  820090283_58581376462_851669                   9
3691   98898082_53766652112_934197                   8
1680   50537501_11478756856_509628                   8
3288  888059775_41615184565_735869                   8
3129  856744918_82226240089_522059                   8
3050  834703874_81652602361_748606                   8
300    171083873_3756289961_109356                   7

In [25]:
#validacion - estructura
visit_example = "817562193_57472961580_383121"

df_analysis_original[
    df_analysis_original["visit_id"] == visit_example
].sort_values("date_time")

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
269967,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269968,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269969,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269970,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269971,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269972,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269973,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269974,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269959,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269960,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269961,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269962,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269963,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269964,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269965,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0
269966,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:20:16,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0

In [26]:
#validacion - Check example
df_analysis[
    df_analysis["visit_id"] == visit_example
].sort_values("date_time")

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
251847,7347761,725303514_80643364804,817562193_57472961580_383121,confirm,2017-05-02 10:19:50,Test,9.0,113.0,77.5,M,2.0,155969.47,6.0,9.0

**Hipotesis 1 - conversion rate**

Visitas totales = nº de visit_id únicos por variation

Visitas convertidas = nº de visit_id que llegan a process_step = 'confirm'

Conversion rate = visitas convertidas / visitas totales

In [27]:
# Máscara confirm
mask_confirm = df_analysis["process_step"].eq("confirm")

# Total de visitas por variation
visits_total = (
    df_analysis
    .groupby("Variation")["visit_id"]
    .nunique()
    .reset_index(name="total_visits")
)

# Visitas con confirm por variation
visits_converted = (
    df_analysis.loc[mask_confirm]
    .groupby("Variation")["visit_id"]
    .nunique()
    .reset_index(name="converted_visits")
)

# Unir y calcular conversion rate
conversion_rate = (
    visits_total
    .merge(visits_converted, on="Variation", how="left")
    .fillna({"converted_visits": 0})
)

conversion_rate["conversion_rate"] = ((conversion_rate["converted_visits"] / conversion_rate["total_visits"])*100).round(2)


conversion_rate

  Variation  total_visits  converted_visits  conversion_rate
0   Control         32181             15981            49.66
1      Test         37121             21686            58.42

**Hipotesis 2:**
Tiempo total de proceso de compra desde que el usuario entra por primera vez hasta que finalmente convierte. No mide eficiencia del funnel, sino experiencia completa de conversión.

In [28]:
#HIPOTESIS 2: Average time to convert is lower in Test than in Control
#Confirm per visit

# Timestamp de start por visita
start_times = (
    df_analysis[df_analysis["process_step"] == "start"]
    .groupby("visit_id")["date_time"]
    .min()
    .reset_index(name="start_time")
)

# Timestamp de confirm por visita
confirm_times = (
    df_analysis[df_analysis["process_step"] == "confirm"]
    .groupby("visit_id")["date_time"]
    .min()
    .reset_index(name="confirm_time")
)

# Unir start y confirm
funnel_time = (
    start_times
    .merge(confirm_times, on="visit_id", how="inner")  # solo visitas que convierten
)

funnel_time["time_to_confirm_min"] = (
    (funnel_time["confirm_time"] - funnel_time["start_time"])
    .dt.total_seconds() / 60
).round(2)
funnel_time

,visit_id,start_time,confirm_time,time_to_confirm_min
0,100019538_17884295066_43909,2017-04-09 16:20:56,2017-04-09 16:24:58,4.03
1,100022086_87870757897_149620,2017-05-23 20:44:01,2017-05-23 20:47:01,3.00
2,10006594_66157970412_679648,2017-04-13 11:50:18,2017-04-13 11:56:12,5.90
3,10007589_47780784567_391490,2017-05-18 07:51:32,2017-05-18 08:03:33,12.02
4,100173292_91322748906_143563,2017-04-25 10:28:55,2017-04-25 10:30:30,1.58
...,...,...,...,...
32700,999958344_67534252886_39917,2017-04-15 00:34:32,2017-04-15 00:35:54,1.37
32701,999971096_28827267783_236076,2017-04-13 10:31:49,2017-04-13 10:34:08,2.32
32702,999976049_95772503197_182554,2017-04-04 12:50:10,2017-04-04 13:02:18,12.13
32703,999984454_18731538378_781808,2017-03-29 11:18:33,2017-03-29 11:21:07,2.57
32704,999985675_64610694964_443659,2017-04-20 09:45:18,2017-04-20 10:02:48,17.50

In [29]:
# Map visit_id -> variation (una fila por visita)
variation_map = (
    df_analysis[["visit_id", "Variation"]]
    .drop_duplicates(subset=["visit_id"])
)

# Añadir variation a tus dataframes de funnel
funnel_time = funnel_time.merge(variation_map, on="visit_id", how="left")

In [30]:
#Cálculo de cuartiles e IQR
Q1 = funnel_time["time_to_confirm_min"].quantile(0.25)
Q3 = funnel_time["time_to_confirm_min"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = max(0, Q1 - 1.5 * IQR)
upper_bound = Q3 + 1.5 * IQR

Q1, Q3, IQR, lower_bound, upper_bound

(np.float64(2.65),
 np.float64(7.28),
 np.float64(4.630000000000001),
 0,
 np.float64(14.225000000000001))

In [31]:
#Identificación de outliers (sin eliminar)
funnel_time["is_outlier"] = (
    (funnel_time["time_to_confirm_min"] < lower_bound) |
    (funnel_time["time_to_confirm_min"] > upper_bound)
)

funnel_time["is_outlier"].value_counts()

is_outlier
False    29957
True      2748
Name: count, dtype: int64

In [32]:
#Upper bound outliers
funnel_time[funnel_time["is_outlier"]] \
    .sort_values("time_to_confirm_min", ascending=False) \
    .head(10)

,visit_id,start_time,confirm_time,time_to_confirm_min,Variation,is_outlier
14592,501042989_50588313479_700675,2017-04-12 11:06:37,2017-04-12 16:06:52,300.25,Test,True
17775,588904389_16165570985_286826,2017-06-03 08:52:25,2017-06-03 13:36:57,284.53,Control,True
19213,627596734_90499955288_891366,2017-06-05 13:40:27,2017-06-05 16:49:38,189.18,Control,True
791,121539902_39215756141_237356,2017-04-14 15:12:53,2017-04-14 17:26:18,133.42,Test,True
29768,917141167_79903154820_914408,2017-04-14 14:21:21,2017-04-14 16:33:48,132.45,Control,True
12229,437446967_60745740605_562480,2017-04-19 12:23:06,2017-04-19 14:25:10,122.07,Test,True
31930,978759989_20162934414_194885,2017-04-16 09:08:34,2017-04-16 11:05:55,117.35,Test,True
28849,89076580_51739503136_236731,2017-04-05 16:04:53,2017-04-05 17:59:02,114.15,Control,True
31948,979123181_47185056640_501726,2017-04-12 15:50:36,2017-04-12 17:40:08,109.53,Control,True
18304,602830065_65703315740_227601,2017-05-03 01:48:40,2017-05-03 03:34:07,105.45,Test,True

In [33]:
#Lower bound outliers
funnel_time[funnel_time["is_outlier"]] \
    .sort_values("time_to_confirm_min") \
    .head(10)

,visit_id,start_time,confirm_time,time_to_confirm_min,Variation,is_outlier
27670,859021479_20735840526_147089,2017-03-31 09:31:39,2017-03-31 08:06:49,-84.83,Test,True
22437,715638933_30287458218_479519,2017-04-13 09:24:20,2017-04-13 08:52:19,-32.02,Test,True
2783,175695329_63350883005_788101,2017-04-24 15:52:04,2017-04-24 15:21:45,-30.32,Control,True
29981,923209093_52642149345_96302,2017-04-10 21:57:21,2017-04-10 21:30:07,-27.23,Control,True
1149,130713883_47793575014_500286,2017-05-01 11:43:22,2017-05-01 11:18:16,-25.10,Test,True
15989,53999699_45260641588_941622,2017-04-12 16:11:23,2017-04-12 15:47:07,-24.27,Test,True
31162,957381536_58687633093_962170,2017-05-29 14:04:20,2017-05-29 13:48:14,-16.10,Test,True
1532,140561335_98036733967_158129,2017-05-14 20:46:44,2017-05-14 20:30:43,-16.02,Test,True
18512,608878385_51120543756_227552,2017-04-14 12:08:03,2017-04-14 11:53:54,-14.15,Control,True
18005,595361025_24882758840_794745,2017-04-17 15:06:37,2017-04-17 14:53:55,-12.70,Test,True

In [34]:
#remove outliers above 0 minutes and disregarding top 25% longer process times
funnel_time_iqr = funnel_time[
    (funnel_time["time_to_confirm_min"] >= lower_bound) &
    (funnel_time["time_to_confirm_min"] <= upper_bound)
].copy()

funnel_time_iqr

,visit_id,start_time,confirm_time,time_to_confirm_min,Variation,is_outlier
0,100019538_17884295066_43909,2017-04-09 16:20:56,2017-04-09 16:24:58,4.03,Test,False
1,100022086_87870757897_149620,2017-05-23 20:44:01,2017-05-23 20:47:01,3.00,Test,False
2,10006594_66157970412_679648,2017-04-13 11:50:18,2017-04-13 11:56:12,5.90,Control,False
3,10007589_47780784567_391490,2017-05-18 07:51:32,2017-05-18 08:03:33,12.02,Control,False
4,100173292_91322748906_143563,2017-04-25 10:28:55,2017-04-25 10:30:30,1.58,Test,False
...,...,...,...,...,...,...
32699,999954858_74676709104_879685,2017-04-05 11:13:34,2017-04-05 11:14:59,1.42,Test,False
32700,999958344_67534252886_39917,2017-04-15 00:34:32,2017-04-15 00:35:54,1.37,Test,False
32701,999971096_28827267783_236076,2017-04-13 10:31:49,2017-04-13 10:34:08,2.32,Test,False
32702,999976049_95772503197_182554,2017-04-04 12:50:10,2017-04-04 13:02:18,12.13,Test,False
32703,999984454_18731538378_781808,2017-03-29 11:18:33,2017-03-29 11:21:07,2.57,Test,False

In [38]:
#summary h2
summary_h2 = (
    funnel_time_iqr
    .groupby("Variation")["time_to_confirm_min"]
    .agg(
        visits="count",
        avg_min="mean",
        median_min="median"
    )
    .reset_index()
)

summary_h2[["avg_min", "median_min"]] = summary_h2[["avg_min", "median_min"]].round(2)
summary_h2

  Variation  visits  avg_min  median_min
0   Control   13581     5.01        4.23
1      Test   16376     4.57        3.67

In [35]:
#HIPOTESIS 3: Probability to advance from ['start'-'step_1'- 'step_2'-'step_3'-'confirm'] is higher in Test than in Control
#step 1 hacer cuartiles con el promedio por  de date_time medio entre process_step. Los steps funcionan como checkpoints en el funnel de conversión. siendo start el primero, step_1 el segundo, step_2 el tercero, step_3 el cuarto y confirm el último.

In [36]:
#HIPOTESIS 4: Segmentation by age / clnt_tenure_mnth / balance