In [1]:
import pandas as pd

In [2]:
#Load demo data

df_demo = pd.read_csv("database/df_final_demo.txt")
df_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [7]:
df_demo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [3]:
#Load experiment clients

df_clients = pd.read_csv("database/df_final_experiment_clients.txt")
df_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [4]:
df_clients.dtypes

client_id     int64
Variation    object
dtype: object

In [5]:
#Load web data pt1+pt2

df_web = pd.concat([
    pd.read_csv("database/df_final_web_data_pt_1.txt"),
    pd.read_csv("database/df_final_web_data_pt_2.txt")
], ignore_index=True)

df_web

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [6]:
df_web.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [8]:
# Merge web data with experiment clients

df_analysis = df_web.merge(df_clients, on="client_id", how="left")
df_analysis

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN

In [9]:
# Analyze distribution of Variation groups

df_analysis["Variation"].value_counts(dropna=False)

Variation
NaN        434096
Test       177847
Control    143462
Name: count, dtype: int64

In [11]:
#Select only experiment clients

df_analysis = df_analysis[df_analysis["Variation"].notna()]

df_analysis["Variation"].value_counts(dropna=False)

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [12]:
#Merge with demo data

df_analysis = df_analysis.merge(df_demo, on="client_id", how="left")

df_analysis

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321304,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0
321305,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321306,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321307,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0
321308,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0

In [13]:
#check nulls in each column

df_analysis.isnull().sum()

client_id             0
visitor_id            0
visit_id              0
process_step          0
date_time             0
Variation             0
clnt_tenure_yr      102
clnt_tenure_mnth    102
clnt_age            114
gendr               102
num_accts           102
bal                 102
calls_6_mnth        102
logons_6_mnth       102
dtype: int64

In [ ]:
#drop rows with nulls in 'age' column

df_analysis = df_analysis[df_analysis["clnt_age"].notna()]
df_analysis.isnull().sum()

client_id           0
visitor_id          0
visit_id            0
process_step        0
date_time           0
Variation           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [16]:
df_analysis.dtypes

client_id             int64
visitor_id           object
visit_id             object
process_step         object
date_time            object
Variation            object
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [22]:
#nunique values in each column

for col in df_analysis.columns:
    print(f"\n{col}")
    print(df_analysis[col].unique())

client_id
[9988021 8320017 4033851 ...  433098 1574008 2908510]

visitor_id
['580560515_7732621733' '39393514_33118319366' '762728880_76361333336' ...
 '5505424_50616523266' '117364417_77840596075' '814969699_90652851448']

visit_id
['781255054_21935453173_531117' '960651974_70596002104_312201'
 '949661017_22392791362_127391' ... '412278907_8949064401_171038'
 '528720790_71583064618_169151' '562606085_36368381773_92090']

process_step
['step_3' 'step_2' 'step_1' 'start' 'confirm']

date_time
['2017-04-17 15:27:07' '2017-04-17 15:26:51' '2017-04-17 15:19:22' ...
 '2017-05-10 22:56:31' '2017-05-10 22:56:23' '2017-05-10 22:56:20']

Variation
['Test' 'Control']

clnt_tenure_yr
[ 5. 22. 12.  6. 11. 21. 13. 15. 10. 29.  7. 16. 28. 20. 23. 17. 14.  4.
 24.  9. 30. 25. 26.  8. 33. 18. 19.  3. 34. 27. 32. 31. 50. 35. 37. 39.
  2. 38. 36. 55. 43. 40. 47. 48. 42. 46. 49. 51. 45. 41. 54. 44. 52.]

clnt_tenure_mnth
[ 64. 274. 149.  80.  70. 137. 254. 162.  79.  74. 186. 143. 125.  77.
  61. 351. 264.  87. 355. 193. 341.  94. 190. 184. 130. 139. 182. 246.
 279. 153. 214. 155. 178.  58. 124.  59. 289. 157.  73. 116.  76.  90.
 256.  68.  92.  69.  86. 360. 301.  71. 161. 151. 119. 175.  54.  88.
  78. 322.  66. 180.  99.  65. 396. 347. 185. 131. 189.  97.  75. 282.
 141. 253. 111. 183. 248. 306. 290. 181. 252. 164. 266. 145. 101.  72.
 267. 292. 167. 114.  56. 176.  67. 269. 106. 174.  96. 156. 202. 280.
 163. 250.  89. 362. 205.  93. 142. 195. 177. 118. 110. 113.  82. 108.
 339. 371. 226. 224.  57. 152. 312. 144. 303. 158. 179. 160. 197. 370.
 235. 132.  50. 169. 173.  91. 225.  46. 170. 126.  84. 120.  98. 166.
  63.  83.  55.  38. 408. 257.  81. 268. 115. 196. 154. 148. 233. 207.
  60. 165. 255. 109. 168. 191. 121. 123. 215. 251. 261. 188. 138. 107.
 194. 198. 208. 117. 402. 316. 272. 192. 327. 262. 223.  62. 200. 146.
 283. 315. 406. 103. 358. 216. 222. 277. 419. 238. 187. 237. 241. 150.
 199. 391. 372. 172. 308. 102. 245. 302. 203. 212. 305. 134. 334. 288.
 400. 236.  85. 100. 258. 297. 217. 260. 122.  36. 318.  45.  40. 221.
 291. 210. 159.  95. 278. 249. 105. 337.  39. 240. 263. 276. 345. 247.
 271. 284. 336. 299. 127. 128. 171. 317. 333. 133. 294. 228. 209. 213.
 324. 204. 300. 287. 394. 104.  37. 242. 136. 342. 243. 311. 343. 295.
 220. 129. 219. 275. 211. 218. 326. 140. 227. 286. 239. 354. 230. 368.
 602. 265. 112. 298.  43. 361. 229. 270. 397. 421. 201. 281. 445. 259.
 285. 321.  47.  48. 314.  52. 244. 135. 331. 340. 319. 147. 468. 418.
  44.  49. 392. 410.  35. 369. 407. 390. 323. 411. 365. 293. 206. 388.
  42. 344.  53. 451. 296. 350. 427. 420. 413. 310.  51. 463. 273. 335.
 444. 231. 234. 398.  34. 313. 309. 364. 376. 465. 328. 338. 330. 346.
 433.  41. 332. 329. 357. 401. 669. 232. 379. 430. 424. 325. 429. 307.
 359. 399. 367. 516. 461. 449.  33. 348. 378. 304. 423. 352. 349. 320.
 417. 373. 464. 356. 481. 415. 395. 569. 374. 484. 460. 363. 403. 380.
 382. 353. 576. 422. 384. 454. 439. 434. 404. 393. 389. 409. 386. 455.
 414. 416. 431. 442. 473. 377. 469. 387. 511. 381. 447. 375. 482. 426.
 459. 405. 561. 440. 385. 366. 526. 668. 596. 425. 554. 453. 571. 485.
 456. 612. 428. 472. 483. 563. 448. 383. 550. 479. 462. 492. 441. 475.
 507. 432. 585. 589. 443. 564. 613. 562. 655. 412. 450. 504. 512. 581.
 539. 532. 624. 446. 608. 593. 457.]

clnt_age
[79.  34.5 63.5 44.5 29.  27.  53.5 56.5 32.5 61.5 38.  66.5 36.5 65.5
 57.5 38.5 54.5 58.5 46.5 30.5 49.  42.5 48.5 33.  70.5 31.5 59.5 70.
 72.5 26.  45.  25.  72.  24.5 35.  58.  54.  32.  28.5 48.  25.5 19.5
 28.  49.5 33.5 75.  71.5 68.  50.5 50.  36.  18.5 73.  52.  39.  27.5
 62.5 22.5 53.  63.  64.5 65.  51.5 60.5 52.5 74.  40.5 21.5 31.  51.
 59.  23.5 57.  66.  29.5 78.5 43.5 20.5 62.  43.  47.5 37.5 67.5 26.5
 84.5 55.5 60.  73.5 41.5 71.  39.5 23.  56.  75.5 82.  64.  67.  42.
 37.  88.5 76.5 68.5 55.  21.  35.5 44.  34.  45.5 61.  77.  30.  47.
 87.  87.5 41.  40.  81.  46.  77.5 76.  20.  22.  24.  74.5 88.  69.
 85.5 81.5 79.5 83.  69.5 80.  85.  80.5 89.  19.  86.  18.  78.  17.5
 84.  86.5 91.  83.5 89.5 82.5 95.5 92.5 93.5 17.  94.  90.  90.5 96.
 93.  92.  94.5 91.5]

gendr
['U' 'M' 'F' 'X']

num_accts
[2. 3. 4. 5. 6. 7. 1.]

bal
[189023.86  36001.9  142642.26 ...  34419.62 153238.83 141808.05]

calls_6_mnth
[1. 5. 0. 6. 4. 2. 3.]

logons_6_mnth
[4. 8. 3. 9. 7. 6. 5.]

In [ ]:
#HIPOTESIS 1: Conversion rate (=confirm) is Test > Control

In [ ]:
#HIPOTESIS 2: Average time to convert is lower in Test than in Control

In [ ]:
#HIPOTESIS 3: Probability to advance from ['start'-'step_1'- 'step_2'-'step_3'-'confirm'] is higher in Test than in Control

In [ ]:
#HIPOTESIS 4: Segmentation by age / clnt_tenure_mnth / balance